@model LinkAlumni.Models.AddAlumniViewModel

 <a class="nav" asp-area="" asp-controller="Home" asp-action="Index">Go Back To Home</a>

<form method="post" action="Add">
    <h1 class="Heading">Alumni Contact Information</h1>

    <div class="form-group">
        <label for="" class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
    </div>
    <br />
    <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
    </div>
    <br />
    <div class="form-group">
        <label for="">City</label>
        <input type="text" class="form-control" asp-for="City">
    </div>
    <br />
    <div class="form-group">
        <label for="">State</label>
        <input type="text" class="form-control" asp-for="State">
    </div>
    <br />
    <div class="form-group">
        <label for="">Phone Number</label>
        <input type="number" class="form-control" asp-for="PhoneNumber">
    </div>
    <br />
    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <br />
    <h1>Education Information</h1>

    <div class="form-group">
        <label for="">Graduation Year</label>
        <input type="number" class="form-control" asp-for="GraduationYear">
    </div>
    <br />
    <div class="form-group">
        <label for="">Degree Recieved</label>
        <br />
        <select  class="form-control" placeholder="Select-One" asp-for="DegreeReceived">
            <option class="form-control">Select One</option>
            <option class="form-control options" asp-for="DegreeReceived" value="Bachelors">Bachelors</option>
            <option class="form-control options" asp-for="DegreeReceived" value="Masters">Masters</option>
        </select>
        @*<input type="text" class="form-control" asp-for="DegreeReceived">*@
    </div>
    <br />
    <div class="form-group">
        <label for="">Major Studied</label>
        <input type="text" class="form-control" asp-for="Major">
    </div>
    <br />
    <div class="form-group">
        <label for="">Post Graduate Degree</label>
        <input type="text" class="form-control" asp-for="PostGraduateDegree">
    </div>
    <br />
    <div class="form-group">
        <label for="">Certificates</label>
        <input type="text" class="form-control" asp-for="Certificates">
    </div>
    <br />
    <div class="form-group">
        <label for="">Internships</label>
        <input type="text" class="form-control" asp-for="Internships">
    </div>
    <br />
    <h1>Employment and Life Update</h1>
    <div class="form-group">
        <label for="">Current Job Title</label>
        <input type="text" class="form-control" asp-for="CurrentJobTitle">
    </div>
    <br />
    <div class="form-group">
        <label for="">Company Name</label>
        <input type="text" class="form-control" asp-for="CompanyName">
    </div>
    <br />
    <div class="form-group">
        <label for="">Company Address</label>
        <input type="text" class="form-control" asp-for="CompanyAddress">
    </div>
    <br />
    <div class="form-group">
        <label for="">Any News you want to share with Department and College</label>
        <input type="text" class="form-control" asp-for="Notes" style="height:100px;">
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="nav" asp-area="" asp-controller="Home" asp-action="Index">Go Back To Home</a>

</form>