@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Hey Alumni!</h1>
    <p>
        Keep in Touch with the Department of Computer Science at Southeast Missouri
        State University
        We Want to Hear from You!
        We always want to stay connected with our alumni. Over the years, we sometimes lose touch due to
        alums relocating, be it the other side of town, the world, or anywhere in between. We would love to
        hear from you! And know your latest news!
        Please complete the form below, and we will update our records, send you the latest news, and
        happenings, and highlight some of your news !
    </p>
    <button class="add">
        <a class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="Add">Add Information</a>
    </button> 
    <button class="add">
        <a class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="Index">View Table</a>
    </button>
    <div>
        <img href="https://images.freeimages.com/images/large-previews/85a/cliff-over-indian-ocean-1520869.jpg" />
    </div>

</div>
